@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-gradient-blue-purple {
        @apply bg-gradient-to-r text-transparent bg-clip-text from-blue-500 to-purple-500;
    }

    .text-gradient-purple-blue {
        @apply bg-gradient-to-r text-transparent bg-clip-text from-purple-500 to-blue-500;
    }

    .text-gradient-yellow-green {
        @apply bg-gradient-to-r text-transparent bg-clip-text from-yellow-500 to-green-500;
    }

    .text-gradient-orange-blue {
        @apply bg-gradient-to-r text-transparent bg-clip-text from-orange-500 to-blue-500;
    }

    .text-gradient-darkblue-blue {
        @apply bg-gradient-to-r text-transparent bg-clip-text from-blue-800 to-blue-500;
    }

    .min-h-half-screen {
        height: 50vh;
    }

    .min-w-half-screen {
        min-width: 50vw;
    }

    .min-w-75vw {
        min-width: 75vw;
    }

    .code-box {
        display: block;
        overflow: hidden;
        overflow-x: auto;
        max-width: 90vw;
    }

    .code-box > code {
        width: 100%;
        word-break: break-all;
        border-radius: 4px;
    }
}


